*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  justify-content: center;
  padding: 15px;
  
  width: auto;
  height: 90px;
  border: 3px solid black;
  font-size: 3rem;
  color: rgb(100, 7, 187);
  margin-top: 25px;
  background-color: rgb(207, 156, 233);

}
.container-slide{
  display: flex;
  justify-content: space-between ;
  width: 50vw;
  height: 50vh;
  background-color: gray;
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0 20px 30px black;
}
.container-items{
  position: absolute;
  display: flex;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  
}
.item{
  width: 50vw;
  height: 50vh;
  transition: all 1s;
}
.item:first-child{
  margin-left: -100%;
}
.item img{
  width: 50vw;
  height: 50vh;
  border-radius: 10px;


}
.action-button{
  font: bold 30px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #000;
  user-select: none;
  z-index: 1;
}
.action-button:hover{
  color: white;
  background-color: #00000055;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;

}